img {
    display: block;
    border-radius: 8px;
    /*align-items:center;*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
.container-fluid {
    padding-top: 20px;
}

.container {
    padding: 120px;
}

.input-group-prepend {
    padding-top: 30px;
}

.col {
    border: solid 2px white;
}

.buttons {
    align-items:center;
}
