.InventoryTwo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {

    width: 900px;
    height: 100px;
    margin-top:90px;
    margin-bottom:10px;

}

th {
    text-align: center;
    border: 2px solid black;
}

td {
    text-align: center;
    border: 2px solid black;
    width: 300px;
}

#dataTable table {
    border: 2px solid black;
}

#dataTable tr {
    border-bottom: 1px solid black;
}

#dataTable td {
    border-left: 1px solid black;
}

#display h3 {
    text-align: center;
}
