.row-img-bg {
    padding:120px;
}

.buttons {
    align-items:center;
}

#ebay {
    color: black;
    background-color: white;
    max-width: 320px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: auto
}

#etsy {
    color: black;
    background-color: white;
    max-width: 320px;
    display:flex;
    align-items:center;
    justify-content:center; 
    margin: auto
}

a {
    color : rgb(0, 0, 0);
  }

.col {
    border:solid 2px white;
}
