section {
    padding:120px;
}

.mt-5 {
    text-align:center;
    align-items: center;
}

#ebay {
    color: black;
    background-color: black;
    max-width: 320px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: auto
}

#etsy {
    color: black;
    background-color: black;
    max-width: 320px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: auto
}

#upload {
    color: black;
    background-color: white;
    max-width: 320px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: auto
}

a {
    color : rgb(0, 0, 0);
  }
