@media all and (min-width: 480px) {
  .Upload {
    padding: 120px 0;
  }

  .Upload form {
    margin: 0 auto;
    max-width: 320px;
  }

  .Upload {
    font-family: sans-serif;
    text-align: center;
    color: white;
  }
  

  a {
    color: #FFF;
  }
}


#browse {
    background-color: white;
    color: black;
}

#submit {
  background-color: white;
  color: black;
}
