################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

./node_react_app/backend/node_modules/
./node_react_app/frontend/node_modules/
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs
/.DS_Store
./node_react_app/backend/.DS_Store
./node_react_app/frontend/.DS_Store
